.Rcontainer{
    /* background-color: transparent; */
    position: relative;
    width: 100%;
    
    min-height: 75vh;
    height: 60%;
    background-image: url('../Styles/Bood\ Donation.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 85%;
    
    
}
.Rcontainer{
    display: flex;
    flex-direction: column;
    align-items: left;  
}

.Rimage{
    background-image: url('./Receiver.png');
    background-size: 37%;
    background-repeat: no-repeat;
    
  }